/* Footer.module.css */
.footer-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  .footer-button {
    font-family: 'Roboto', sans-serif; /* Robotoフォントを適用 */
    font-size: 1rem; /* フォントサイズを設定 */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
    text-align: center; /* テキストを中央に揃える */
    white-space: normal; /* テキストを折り返す */
    word-break: break-word; /* 単語を途中で改行 */
    font-weight: 800; /* 太文字にする */
  }
  
  .footer-button:hover {
    background-color: #0056b3;
  }
 
  .footer-buttons {
    display: flex;
    justify-content: center; /* ボタンを中央に揃える */
    gap: 20px; /* ボタン間のスペースを調整 */
    padding: 10px;
    background-color: #f8f8f8;
  }
  